# Environnements
.env
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / IDE
.DS_Store
*.swp
.idea/
.vscode/

# Other
*.xlsx
*.txt
*.err
*.log
app/data/images/

# Files
create_db.py
import_cards_from_excel.py
change_card_name.py
check_all_cards_name.py
check_cards_then_import_into_db.py
rm_all_cards_from_db.py